p{
    color: darkblue;
    }

body{
    background-color: linen; font-family: Verdana
    }

ol{
    color: darkcyan

}

ul{
    color: darkcyan

}

.dates{
    font-family: 'Times New Roman';

}

.center {
    border: 1px solid grey; 
    margin: 20px;
    padding: 10px;
}

.main{
    text-align: center;
}